---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
  image?: string | unknown;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  actions = await Astro.slots.render('actions'),

  id,
  isDark = true,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-6xl mx-auto text-center ${classes?.container ?? ''}`}
  bg={bg}
>
  <Fragment slot="bg">
    <slot name="bg">
      {bg ? <Fragment set:html={bg} /> : null}
    </slot>
  </Fragment>

  <div class="relative z-20">
    <Headline
      title={title}
      subtitle={subtitle}
      tagline={tagline}
      classes={{
        container: 'max-w-4xl mx-auto text-center mb-8 md:mb-12',
        title: 'text-3xl md:text-5xl lg:text-6xl font-black tracking-normal mb-4 md:mb-6 text-white',
        subtitle: 'text-lg md:text-xl lg:text-2xl text-white font-medium leading-relaxed relative',
      }}
    />

    {
      actions && (
        <div class="flex flex-col sm:flex-row gap-4 justify-center items-center intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade mb-12">
          {Array.isArray(actions) ? (
            actions.map((action, index) => (
              <div class="w-auto">
                <Button
                  {...(action || {})}
                  variant={index === 0 ? 'primary' : 'secondary'}
                  class="px-6 py-3 md:px-8 md:py-4 font-bold min-w-[200px] max-w-[280px] mx-auto shadow-2xl transform hover:scale-105 transition-all duration-300"
                />
              </div>
            ))
          ) : (
            <Fragment set:html={actions} />
          )}
        </div>
      )
    }
  </div>
</WidgetWrapper>
